<mat-card class="example-card">
  <div class="col1">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title><a>T rex Augmented</a></mat-card-title>
    </div>
    <img src="/assets/trex-mold.jpeg" alt="AR photo" width="150px" height="150px">
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button ><a href="https://codepen.io/nicolocarpignoli/pen/vMBgob" target="_blank"> Open 3D Model</a></button>
      
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <div class="col1">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title><a>Qube</a></mat-card-title>
        <mat-card-subtitle><a>User Post; Richard Burgess</a></mat-card-subtitle>
      </div>
      <img src="https://stemkoski.github.io/AR-Examples/markers/hiro.png" alt="AR photo" width="150px" height="150px">
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button ><a href="https://codepen.io/cwervo/pen/yoBdjK" target="_blank"> Open 3D Model</a></button>
      </mat-card-actions>
    </mat-card>