<div id="container">
    <header class="page-header">

      <div class="top-bar-container">
        <a href="/">
            <mat-icon>arrow_back</mat-icon>
        </a>
        <img src="/assets/logo.png" alt="logo">
      </div>

      <div class="header-content">
        <strong>Amazing, so do you want to teatch other persons</strong>
        <p>First thing to do is sign up in this form</p>
        
      </div>

    </header>

    <main>
      <form action="/save-classes" id="create-class" method="POST">

        <fieldset>
          <legend>Your data</legend>

          <div class="input-block">
            <label for="name">Full name</label>
            <input name="name" id="name" required>
          </div>

          <div class="input-block">
            <label for="avatar">Profile pic<small></small></label>
            <input name="avatar" id="avatar" type="url" required>
          </div>

          <div class="input-block">
            <label for="whatsapp">WhatsApp Number<small>(Only numbers)</small></label>
            <input name="whatsapp" id="whatsapp" type="number" required>
          </div>

          <div class="textarea-block">
            <label for="bio">Bio</label>
            <textarea name="bio" id="bio" required></textarea>
          </div>

        </fieldset>


        <fieldset>
          <legend>About yout course</legend>

          <div class="select-block">
            <label for="subject">Language</label>
            <!--<select name="subject" id="subject" required>
              <option value="">Selecione uma opção</option>
              
              {% for subject in subjects %}
                <option value="{{loop.index}}">
                  {{ subject }}
                </option>
              {% endfor %}

            </select>-->
          </div>

          <div class="input-block">
            <label for="cost">Value of your hour
              <small>USD$</small>
            </label>
            <input name="cost" id="cost" type="number">
          </div>
        </fieldset>


        <fieldset id="schedule-items">
          <legend>Time avaliable
            <button type="button" id="add-time">+ New time</button>
          </legend>

          <div class="schedule-item">

            <div class="select-block">
              <label for="weekday">Weekday</label>
              <!--<select name="weekday[]" required>
                <option value="">Selecione uma opção</option>
              
                {% for weekday in weekdays %}
                  <option value="{{  loop.index0 }}">
                    {{ weekday }}
                  </option>
                {% endfor %}

              </select>-->
            </div>

            <div class="input-block">
              <label for="time_from">From</label>
              <input type="time" name="time_from[]" required>
            </div>

            <div class="input-block">
              <label for="time_to">Until</label>
              <input type="time" name="time_to[]" required>
            </div>

          </div>

        </fieldset>

      </form>

      <footer>
        <p>
          <img src="" alt="Aviso importante">
          Insert all datas
        </p>
        <button type="submit" form="create-class">Signup</button>
      </footer>
    </main>
  </div>
