<div id="wrapper">
  <div class="form-layout">
    <div class="form-left">
      <div class="logo"><img src="/assets/logo.png" alt="minerva"
        width="250px"></div>
      <div class="info">Register your teatcher contact</div>
      <div class="footer">
      </div>
    </div>
    <form action="#" class="form-right">
      <div>
        <input mat input type="text" name="username" id="username" placeholder="Username" autocomplete="off" />
      </div>
      <div>
        <input mat-input type="email" name="email" id="email" placeholder="Email" autocomplete="off" />
      </div>
      <div class="select-block">
        <label for="subject">Nationatily</label>
        <select name="subject" id="subject" required>
          <option value="">Select an Nationality</option>
          <option value="1">Indian</option>
          <option value="1">American</option>
          <option value="2">Mexican</option>
          <option value="3">German</option>
          <option value="4">Brazilian</option>
          <option value="5">Japanese</option>
          <option value="6">French</option>
        </select>
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Telephone</mat-label>
          <span matPrefix>+1 &nbsp;</span>
          <input type="tel" matInput placeholder="555-555-1234">
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
      </div>
      <div>
        <input mat-input type="text" name="photo" id="PhotoTeatcher" placeholder="Post you photo" autocomplete="off" />
      </div>
      <div>
        <input mat-input #message maxlength="256" type="text" name="Bio" id="Bio" placeholder="Post about you" autocomplete="off" />
      </div>
        <div class="select-block">
          <label for="subject"></label>
          <select name="subject" id="subject" required>
            <option value="">Select an Option</option>
            <option value="1">English</option>
            <option value="2">Spanish</option>
            <option value="3">Mandarin</option>
            <option value="4">French</option>
            <option value="5">Japanese</option>
            <option value="6">German</option>
          </select>
        </div>
        <div class="select-block">
          <label for="subject"></label>
          <select name="subject" id="subject" required>
            <option value="">Select an Option</option>
            <option value="1">Sun</option>
            <option value="2">Mon</option>
            <option value="3">Tue</option>
            <option value="4">Wed</option>
            <option value="5">Thur</option>
            <option value="6">Fri</option>
            <option value="6">Sat</option>
          </select>
        </div>
      <div class="buttons">
        <button mat-button>Post your contact</button>
      </div>
    </form>
  </div>
</div>