h1{
	font-family: 'opendyslexic';
  src: url('http://dyslexicfonts.com/fonts/OpenDyslexic-Regular.otf');
}
input, textarea, select, button{
  font-family: 'opendyslexic';
  src: url('http://dyslexicfonts.com/fonts/OpenDyslexic-Regular.otf');
}

 