
<header class="block">
    
    <ul class="header-menu horizontal-list">
        <li>
            <img routerLink="/comm" routerLinkActive="active" width="200px"src="/assets/logo.png">
        </li>
       
        <li>
            <a class="header-menu-tab" routerLink="/config" routerLinkActive="active"><span class="icon fontawesome-user scnd-font-color"></span><mat-icon>school</mat-icon></a>
        </li>
        <li>
            <a class="header-menu-tab" routerLink="/news" routerLinkActive="active"><span class="icon fontawesome-envelope scnd-font-color"></span>	<mat-icon>class</mat-icon></a>
        </li> 
        <li>
            <a class="header-menu-tab" routerLink="/news" routerLinkActive="active"><span class="icon fontawesome-envelope scnd-font-color"></span>	<mat-icon>notifications</mat-icon></a>
        </li>
        
    </ul>
    <div class="profile-menu">
        <p ><a routerLink="/profile" routerLinkActive="active"><span class="entypo-down-open scnd-font-color">My Profile</span></a></p>
        <div class="profile-picture small-profile-picture">
            <img width="40px" alt="Profile Picture" src="https://scontent.fcpq3-1.fna.fbcdn.net/v/t1.0-9/75311430_2403422336449806_1602971125891989504_n.jpg?_nc_cat=106&_nc_sid=85a577&_nc_ohc=vjofva-T3X0AX8DwEyO&_nc_ht=scontent.fcpq3-1.fna&oh=55d4fc87e471849dafc7cf939a1ffb1c&oe=5F4424E0">
        </div>
    </div>
</header>