

    <div id="container">
  
      <div class="logo-container">
        <img src="/assets/logo.png" alt="minerva"
        width="250px">
        <h2>Your Digital conversation plataform</h2>
      </div>
  
      <img class="hero-image" src="" alt="Conversation plataform">
  
  
      <div class="buttons-container">
        <a class="study">
          <mat-icon>class</mat-icon>
          Pratice Conversation
        </a>
  
        <a class="give-classes">
          <mat-icon>school</mat-icon>
          Teatch
        </a>
      </div>
  
      <p class="total-connections">
        250 Connnects alredy made
        <mat-icon>favorite</mat-icon>
      </p>
  
    </div>
  
