

    <div id="container">
  
      <div class="logo-container">
        <img src="/assets/logo.png" alt="minerva"
        width="250px">
        <h2>Your Digital conversation plataform</h2>
      </div>
  
      <img class="hero-image" src="" alt="Conversation plataform">
  
  
      <div class="buttons-container">
        <a class="study">
          <img src="images/icons/study.svg" alt="Pratice Conversation">
          Pratice Conversation
        </a>
  
        <a class="give-classes">
          <img src="" alt="Teatch">
          Teatch
        </a>
      </div>
  
      <p class="total-connections">
        250 Connnects alredy made
        <img src="" alt="Purple Heart">
      </p>
  
    </div>
  
