.container{
}
.logo-container{
  background:white;
}
.buttons-container{
  background: white
}
button, h2{
  font-family: 'opendyslexic';
  src: url('http://dyslexicfonts.com/fonts/OpenDyslexic-Regular.otf');
  font-size: 25px;
}
h2{
  font-size:50px;
  color: rgb(97, 97, 238);
}
button:hover{
  background:rgb(97, 97, 238);
}
