

    <div id="container">
      <header class="page-header">
  
        <div class="top-bar-container">
          <a href="/">
            <mat-icon>arrow_back</mat-icon>
        </a>
          <img src="images/logo.svg" alt="">
        </div>
  
        <div class="header-content">
          <strong>This is the Teatcher avaliable</strong>
          <form id="search-teachers">
  
            <div class="select-block">
              <label for="subject">Language</label>
              <select name="subject" id="subject">
                <option value="" disabled="" hidden="">Click in an option</option>
              <option value="1">English</option>
              <option value="2">Spanish</option>
              <option value="3">French</option>
              <option value="4">Chinese</option>
              <option value="5">Portuguese</option>
              <option value="6">Japanese</option>
              <option value="7">German</option>
              <option value="8">Korean</option>
              <option value="9">Russian</option>
  
              </select>
            </div>
  
            <div class="select-block">
              <label for="weekday">weekday</label>
              <select name="weekday" id="weekday">
                <option value="" disabled="" hidden="">Select an option </option>
                <option value="0">Sunday</option>
                <option value="1">Monday</option>
                <option value="2">Tuesday</option>
                <option value="3">Wednesday</option>
                <option value="4">Thursday</option>
                <option value="5">Friday</option>
                <option value="6">Saturday</option>
  
              </select> 
  
            </div>
            <div class="input-block">
              <label for="time">Time</label>
              <input name="time" id="time" type="time" value="">
            </div>
  
            <button type="submit">Filter</button>
  
          </form>
        </div>
  
      </header>
  
      <main>
          <article class="teacher-item">
            
            <header>
              <img 
                  src="https://avatars2.githubusercontent.com/u/2254731?s=460&amp;u=0ba16a79456c2f250e7579cb388fa18c5c2d7d65&amp;v=4" 
                  alt="Diego Fernandes">
              <div>
                  <strong>Pablo Alquist</strong>
                  <span>Spanish</span>
              </div>
          </header>
      
          <p>Lorem Ipsum<br><br>Lorem Ipsum</p>
      
          <footer>
              <p>Per Hour<strong>15 USD</strong>
              </p>
              <button type="button">
                  <img src="/images/icons/whatsapp.svg" alt="Whatsapp">Make contact
              </button>
          </footer>
      </article>
          <!--
          {% endfor %}
  
          {{% endif %}-->
  
        
  
      </main>
    </div>
