

    <div id="container">
      <header class="page-header">
  
        <div class="top-bar-container">
          <a href="/">
            <img src="images/icons/back.svg" alt="Voltar">
          </a>
          <img src="images/logo.svg" alt="">
        </div>
  
        <div class="header-content">
          <strong>This is the Teatcher avaliable</strong>
          <form id="search-teachers">
  
            <div class="select-block">
              <label for="subject">Language</label>
              <select name="subject" id="subject">
                <option value="" disabled="" hidden="">Click in an option</option>
  
                <!--{% for subject in subjects %}
                  <option value="{{loop.index}}" {{ "selected" if filters.subject == loop.index }} >
                    {{ '{' }} subject{{ '}' }}
                  </option>
                {% endfor %}-->
  
              </select>
            </div>
  
            <div class="select-block">
              <label for="weekday">weekday</label>
              <select name="weekday" id="weekday">
                <option value="" disabled="" hidden="">Select an option </option>
                  <!--
                {% for weekday in weekdays %}
                  <option value="{{  loop.index0 }}" {{ "selected" if filters.weekday == loop.index0 }}>
                    {{ '{' }} weekday{{ '}' }}
                  </option>
                {% endfor %}-->
  
              </select> 
  
            </div>
            <div class="input-block">
              <label for="time">Time</label>
              <input name="time" id="time" type="time" value="">
            </div>
  
            <button type="submit">Filter</button>
  
          </form>
        </div>
  
      </header>
  
      <main>
  <!--
  {% if proffys == "" %}
          <p class="no-results">Nenhum professor encontrado com a sua pesquisa</p>
          {% else %}
  
          {% for proffy in proffys %}-->
          <article class="teacher-item">
            
            <header>
              <img src="" alt="name">
              <div>
                <!--<strong>{{ proffy.name }}</strong>
                <span>{{ proffy.subject }}</span>-->
              </div>
            </header>
  
            <p></p>
  
            <footer>
              <!--<p>Preço/hora<strong>{{ '{' }} proffy.cost {{ '}' }}</strong></p>-->
              
              <!--<a href="https://api.whatsapp.com/send?l=pt_BR&phone=55{{ proffy.whatsapp }} &text=Tenho interesse na sua aula de {{ proffy.subject }} {{ proffy.name }}" class="button" target="_blank">
                <img src="/images/icons/whatsapp.svg" alt="WhatsApp">
                Entrar em contato
              </a>-->
            </footer>
  
          </article><!--
          {% endfor %}
  
          {{% endif %}-->
  
        
  
      </main>
    </div>
