.example-card {
  font-family: 'opendyslexic';
  src: url('http://dyslexicfonts.com/fonts/OpenDyslexic-Regular.otf');
  max-width: 400px;
}

.example-header-image {
  background-size: cover;
}
p{
  font-family: 'opendyslexic';
  src: url('http://dyslexicfonts.com/fonts/OpenDyslexic-Regular.otf');
}
button{
  font-family: 'opendyslexic';
  src: url('http://dyslexicfonts.com/fonts/OpenDyslexic-Regular.otf');
}
mat-card-content{
  margin-top: 5px;
}